<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIQcB70ipzptJEtw8nXS1rZ8y69B0e54g</string>
	<key>GCM_SENDER_ID</key>
	<string>627815487648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rssb.rssb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rssb-traffic-442db</string>
	<key>STORAGE_BUCKET</key>
	<string>rssb-traffic-442db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627815487648:ios:e8d6ee5541634ea61e51c5</string>
</dict>
</plist>